* {
  margin: 0;
  padding: 0;
  --bg-form: #ffffffee;
  --main-color: #ff0000;
  --secondary-color: #000000;
  --danger: #fc6f6f;
}

main {
  background-image: url("../img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  position: relative;
}
main {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}
form {
  margin: 4rem;
  padding: 4rem;
  width: 44vw;
  border-radius: 20px;
  background: var(--bg-form);
}
#reg {
  margin-bottom: 1.5rem;
  font-size: 28px;
  text-align: center;
}
div {
  margin-bottom: 0.6rem;
}
h4 {
  margin-bottom: 0.4rem;
  font-size: 18px;
  color: var(--main-color);
}
.input {
  padding: 0.5rem;
  width: 95%;
  border-radius: 18px;
  font-size: 18px;
  border: 3px solid var(--secondary-color);
}
.input:focus {
  outline: none;
}
.input:nth-last-child(-n + 2) {
  margin-bottom: 0.5rem;
  width: 100%;
  background: var(--secondary-color);
  color: var(--bg-form);
}
span {
  margin-top: 0.8rem;
  font-weight: 500;
  color: var(--danger);
}
select {
  padding: 0.3rem;
  margin-top: 0.4rem;
  width: 29.5vw;
  border-radius: 18px;
  border: 3px solid var(--secondary-color);
  font-size: 20px;
}
select:focus {
  outline: none;
}
#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000021;
  display: flex;
  justify-content: center;
  align-items: center;
}
#data {
  padding: 2rem;
  width: 40vw;
  font-size: 22px;
  border-radius: 18px;
  background-color: var(--bg-form);
}
.close {
  margin: 0;
  float: right;
  cursor: pointer;
  font-size: 30px;
}

@media (max-width: 768px) {
  form {
    padding: 3rem;
    width: 50vw;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 15px;
  }
  .input {
    font-size: 15px;
  }
  select {
    width: 53vw;
    border-radius: 16px;
    font-size: 16px;
  }
  #data {
    width: 60vw;
    font-size: 14px;
  }
  .close {
    font-size: 25px;
  }
}
