.content {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  justify-content: space-around;
}

table,
th,
td {
  width: 50%;
  border: 1px solid black;
  font-size: larger;
}

iframe {
  border: 5px solid black;
}

thead {
  color: aqua;
}

tfoot {
  color: blue;
}

tbody {
  color: brown;
}
